@import "tailwindcss";

:root {
  --brand: #0f766e;
  --brand-light: #ccfbf1;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}
